// Variables

// // Fonts
$font-size-base: 5vw
$font-family-sans: "Whitney A", "Whitney B"
$font-family-serif: "Hoefler Text A", "Hoefler Text B", "Hoefler Text Black", "Georgia"

// // Colors

// // //  Summer/Fall Colors (Default)
$base-background: rgb(160, 98, 40)
$accent-background: rgb(120,70,40)

// //  Winter/Spring Colors
$base-background-winter-spring: lighten(rgb(81,89,87),20%)
$accent-background-winter-spring: rgb(81,89,87)

body
    margin: 0
    padding: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-family: $font-family-sans
    font-style: normal
    font-weight: 300
    background-color: $base-background
    color: white
    width: 100%
    
.winter-spring
    background-color: $base-background-winter-spring
    
body,header, nav
    min-height: 100vh
    
a
    text-decoration: none
    color: inherit
    transition: all ease-out 250ms

img
    max-width: 100%
    display: block
    
header, main, nav, footer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

header
    text-align: center
    
.logo
    width: clamp(100px,50%,20vw)
    margin: 1em
    
    .logo-background-fill-space-around-leaf
        fill: $accent-background
        
        .winter-spring &
            fill: $accent-background-winter-spring

.title-doctor-names
    margin: 0
    font-family: $font-family-serif
    font-size: clamp(1.75em, calc(#{$font-size-base} * 1.5), 4em)
    line-height: 1.25
    
.title-corporate-name
    margin: 0
    margin-top: 0.75em
    font-family: $font-family-serif
    font-style: normal
    font-size: clamp(1.5em, calc(#{$font-size-base} * 1), 3em)

.subtitle
    margin: 0
    font-style: italic
    font-weight: 400
    font-size: clamp(0.8em, calc(#{$font-size-base} * 0.8), 2em)
    font-family: $font-family-sans
    
main
    width: 800px
    max-width: 100%
    padding: clamp(1em, calc(#{$font-size-base} * 2), 2.25em)
    box-sizing: border-box
    font-size: clamp(1em, calc(#{$font-size-base} * 2), 2em)

hr   
    border-top: 0.15em solid darken(white,5%)
    border-radius: 0.25em
    width: 100%
    margin-top: 2em
    margin-bottom: 2em
    
.text-block
    background-color: $accent-background
    border-radius: 1em
    padding: 2em
    min-height: 50vh
    display: flex
    flex-direction: column
    justify-content: center
    
    .winter-spring &
        background-color: $accent-background-winter-spring
    
h2
    text-align: center
    font-style: italic
    font-weight: 800
    font-size: clamp(1.2em, calc(#{$font-size-base} * 2), 2.5em)
    margin-bottom: 0.25em
    
.rotating-image
    animation-name: carousel
    animation-duration: 30s
    animation-timing-function: ease-in-out
    animation-iteration-count: infinite
    // animation-fill-mode: both
    background-repeat: no-repeat
    background-size: cover
    height: 20em

@keyframes carousel
    0%,100%
        background-image: url(/img/dr.allison.jpeg)
 
    33%
        background-image: url(/img/dr.anthony.jpeg)
 
    66%
        background-image: url(/img/allisonanthonywilson.jpg)  

.contact-container
    display: flex
    flex-direction: column
    justify-content: center
 
.contact-detail-container
    margin-bottom: -1em
    display: flex
    flex-direction: row
    font-size: clamp(16pt, calc(#{$font-size-base} * 1), 1em)
    
.contact-detail-icon
    margin-right: 1em
    
.copyright
    font-size: 12pt
    text-align: center

// Janky, but whatever
@media (max-width:400px)
    // Looks off-centered vertically on iOS without this hack
    header
        margin-top: -4em

    main
        padding: 1em

    .text-block
        border-radius: 0.5em
        padding: 1em
        font-size: calc($font-size-base*1.1)