@font-face {
  font-family: "Edgar";
  src: url("/fonts/Edgar-9344/Edgar-Bold.woff2") format("woff2");
  src: url("/fonts/Edgar-9344/Edgar-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mallory-Book";
  src: url("/fonts/Mallory-9346/Mallory-Book.woff2") format("woff2");
  src: url("/fonts/Mallory-9346/Mallory-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mallory-MediumItalic";
  src: url("/fonts/Mallory-9346/Mallory-MediumItalic.woff2") format("woff2");
  src: url("/fonts/Mallory-9346/Mallory-MediumItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Mallory-Book", "Helvetica", sans-serif;
  font-style: normal;
  background-color: rgb(160, 98, 40);
  color: white;
  width: 100%;
}

.winter-spring {
  background-color: rgb(130.4, 141.6, 138.8);
}

body, header, nav {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all ease-out 250ms;
}

img {
  max-width: 100%;
  display: block;
}

header, main, nav, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
}

.logo {
  width: clamp(100px, 50%, 20vw);
  margin: 1em;
}
.logo .logo-background-fill-space-around-leaf {
  fill: rgb(120, 70, 40);
}
.winter-spring .logo .logo-background-fill-space-around-leaf {
  fill: rgb(81, 89, 87);
}

.title {
  margin: 0;
  font-family: "Edgar", "Georgia", serif;
  font-size: clamp(2.5em, 5vw * 1.6, 8em);
  line-height: 1.25;
  font-style: normal;
  font-weight: 800;
}

.subtitle {
  margin: 0;
  font-weight: 400;
  font-size: clamp(0.35em, 5vw * 0.25, 2em);
  font-family: "Mallory-MediumItalic";
}

main {
  width: 800px;
  max-width: 100%;
  padding: clamp(1em, 5vw * 2, 2.25em);
  box-sizing: border-box;
  font-size: clamp(1em, 5vw * 2, 2em);
}

hr {
  border-top: 0.15em solid hsl(0, 0%, 105%);
  border-radius: 0.25em;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.text-block {
  background-color: rgb(120, 70, 40);
  border-radius: 1em;
  padding: 2em;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.winter-spring .text-block {
  background-color: rgb(81, 89, 87);
}

h2 {
  text-align: center;
  font-style: italic;
  font-size: clamp(1.5em, 5vw * 1.5, 2em);
  margin-bottom: 0.1em;
  font-family: "Edgar", "Georgia", serif;
}

.rotating-image {
  background-image: url(/img/family2.jpeg);
  background-size: cover;
  height: 20em;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-detail-container {
  margin-bottom: -1em;
  display: flex;
  flex-direction: row;
  font-size: clamp(16pt, 5vw * 1, 1em);
}

.contact-detail-icon {
  margin-right: 1em;
}

.copyright {
  font-size: 12pt;
  text-align: center;
}

@media (max-width: 440px) {
  header {
    margin-top: -15vh;
  }
  main {
    padding: 0.75em;
  }
  .text-block {
    border-radius: 0.5em;
    padding: 1em;
    font-size: 5.5vw;
  }
}
